# Компилированные файлы классов
*.class

# Лог-файлы
*.log

# Папка сгенерированных файлов
/bin/
build/

# Файлы maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Файлы зависимостей
dependency-reduced-pom.xml
releases/
resolved-dependencies/
dependency/

# Папка с данными кэша и временные файлы
.cache/
tmp/

# Файлы конфигурации IDE
### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Eclipse ###
.project
.classpath
.settings/

# Папка с библиотеками
lib/

# Файлы пакета
*.jar
*.war
*.ear

# Скрытые файлы операционной системы
.DS_Store
Thumbs.db

# Файлы конфигурации, содержащие секреты или ключи
*.properties
*.yaml
*.yml
*.env

# SonarLint
.sonarlint/

# Папки и файлы кэша SonarLint для разных IDE
/.idea/sonarlint/
.vscode/sonarlint/
.sonar/